<section class="my-4">
  <div
    class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4"
  >
    <app-card
      *ngFor="
        let product of products
          | paginate
            : {
                id: 'pagination',
                itemsPerPage: pageSize,
                currentPage: curentPage,
                totalItems: totalItem
              }
      "
      class="col"
      [cutTextNum]="2"
      [product]="product"
      [whish]="whishList"
    ></app-card>
  </div>
</section>

<footer class="d-flex justify-content-center">
  <pagination-controls
    id="pagination"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
</footer>
